name: Continuous Integration

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 5 * * *" # runs every day at 5am UTC

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name }}-ci
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-test:
    name: Unit Test
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    strategy:
      matrix:
        go-version: ["1.19", "1.20", "1.21"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Setup Golang Environment
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run Unit Tests
        run: make unit-test
  build:
    name: Build Client
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: ${{ github.event.repository.fork == false }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Switch Repository (Nightly)
        if: (github.event_name == 'schedule')
        run: |
          sed -i 's|pkgs.nginx.com|pkgs-test.nginx.com|g' docker/Dockerfile
          sed -i '16d' docker/Dockerfile
          sed -i "17i sed -i 's|pkgs|pkgs-test|g' /etc/apt/apt.conf.d/90pkgs-nginx" docker/Dockerfile
          sed -i 's|deb https|deb [trusted=yes] https|g' docker/Dockerfile
          sed -i 's|\${NGINX_PLUS_VERSION}/||g' docker/Dockerfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0

      - name: Build Plus Docker Image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          file: docker/Dockerfile
          tags: nginx-plus
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          secrets: |
            "nginx-repo.crt=${{ secrets.NGINX_CRT }}"
            "nginx-repo.key=${{ secrets.NGINX_KEY }}"

      - name: Test Client
        run: |
          docker compose up -d
          docker compose logs -f test test-no-stream

      - name: Create/Update Draft
        uses: lucacome/draft-release@f6dc37dcdf44be100a649b72c62c628776750190 # v0.2.2
        id: release-notes
        with:
          minor-label: "enhancement"
          major-label: "change"
          publish: ${{ github.ref_type == 'tag' }}
          collapse-after: 50
        if: ${{ github.event_name == 'push' }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@3fa32b8bb5620a2c1afe798654bbad59f9da4906 # v4.4.0
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_COMMUNITY }}
        if: ${{ github.ref_type == 'tag' }}
